# git-encoding=iso8859-1 zos-working-tree-encoding=ibm-1047
*       git-encoding=iso8859-1 zos-working-tree-encoding=iso8859-1
# COBOL files can only be executed when encoded in IBM EBCDIC format, IBM-1047
*.cbl zos-working-tree-encoding=IBM-1047

.gitattributes   git-encoding=iso8859-1 zos-working-tree-encoding=iso8859-1
.gitignore       git-encoding=iso8859-1 zos-working-tree-encoding=iso8859-1
