include *.txt
recursive-include docs *.txt
include pyzkiln_core/zutils/ConfigFile.properties *
include pyzkiln_core/pyracf/makefile *
include pyzkiln_core/pyracf/libracf.so 
include pyzkiln_core/pyracf/libracf.x 
recursive-include pyzkiln_core/pyracf/common *
recursive-include pyzkiln_core/pyracf/R_admin *
